body {
    background-image: url("bg2.png");
    font-family: Verdana, Geneva, sans-serif;
    font-size: 30px;
}

h2{
    font-family: Verdana, Geneva, sans-serif;
    border-top-style: solid; 
    font-size: 20px;
}

#smth1
{
    font-family: Verdana, Geneva, sans-serif;
    border-top-style: solid; 
    font-size: 20px;
}

#smth2
{
    font-family: Verdana, Geneva, sans-serif;
    border-top-style: solid;
    border-bottom-style: solid;
    font-size: 20px; 
}

#smth3
{
    font-family: Verdana, Geneva, sans-serif;
    border-bottom-style: solid; 
    font-size: 20px;
}
