<!DOCTYPE html>
<html>
<head>
<title>title</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
</head>

<body>

<h2>Welcome</h2>
<p>short explanation about us </p>
<br><br>
<form action="log_in.html">
Full Name<input type="text"name ="name"><br>
Email<input type="text"name ="email"><br>
password<input type="password"name ="pass"><br>
you want to work on: 
<select name = "project">
  <option value="my idea">my idea</option>	
  <option value="no idea">someone's elses idea</option>
  <option value="any">doesn't matter</option>
</select>
<br>
<input type="submit" value="submit" >
<h3> already have an account ?</h3>
<a href="{{url_for("login")}}"><h2> Log In! </h2> </a>
</form>
<div id="video">
	<iframe src="https://www.youtube.com/watch?v=7TvfG6IzBa0">
	</iframe>
</div>
</body>
</html>
